{
  "env": {
    "esm": {
      "plugins": [
        "transform-custom-element-classes"
      ],
      "presets": [
        ["@babel/env", {"modules": false}],
        "@babel/flow"
      ]
    },
    "umd": {
      "plugins": [
        "transform-custom-element-classes",
        "@babel/plugin-transform-modules-umd"
      ],
      "presets": ["@babel/env", "@babel/flow"]
    }
  }
}
